html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #2C2141;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    width: 624px;
    background-color: #F8F8F8;
    border-radius: 16px;
    margin: 16px;
    padding: 32px;
}

.person {
    display: flex;
    align-items: flex-start;
}


.person__picture {
    max-width: 180px;
    border-radius: 50%;
    margin-left: -20px;
    margin-right: 15px;
    margin-top: -20px;
}

.person__info {
    margin-bottom: 24px;
}

.person__name {
    font-size: 36px;
    margin: 0;
    font-weight: normal;
    line-height: 1;
}

.person__position {
    font-size: 18px;
    font-style: italic;
    color: #554455;
    margin: 0;
}

.person__description {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}

.person__description--spaceAfter {
    margin-bottom: 22px;
}

.special {
    color: #ED6D05;
    font-weight: normal;
}

.person__link {
    color: #E20613;
    text-decoration: none;
}


@media (max-width: 420px) {
    .main {
        text-align: center;
    }

    .person {
        display: initial;
        text-align: center;
    }

    .person__picture {
        margin: initial;
        margin-bottom: 20px;
    }

    .person__name {
        margin-bottom: 20px;
    }
}